.login {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginInput {
  padding: 10px;
  margin-bottom: 5px;
}

.loginButton {
  padding: 5px;
  color: white;
  background-color: teal;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}
